
.main-logo {
    margin: 0;
    background: url(../photo.png) no-repeat;
    width: 100px;
    height: 40px;
}

.calendar-item, .calendar-header th {
    flex: 0 0 14.285714285714286%;
    max-width: 14.285714285714286%;
    position: relative;
    padding: 3px;
}

.calendar-header th {
    text-align: center;
}

.inactive-card {
    background-color: lightgray;
    color: gray;
}

.bg-primary .own-event {
    color: #baffea;
}

.own-event {
    color: #2bb38a;
    font-weight: bold;
}

.event-name {
    font-size: 14px;
    padding-top: 1px!important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
